@import '~bootstrap/scss/bootstrap.scss';

.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  margin: 0 auto;
  .App__block {
    box-sizing: border-box;
    padding: 15px;
  }
}